.login-header {
    color: aqua;
}

.card {
    height: 500px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-header {
    
}

.card-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
